<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CampDashboard</servlet-name>
        <servlet-class>em.CampDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SD_Demands_List</servlet-name>
        <servlet-class>em.SD_Demands_List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>events_DataAccessLayer</servlet-name>
        <servlet-class>efm.events_DataAccessLayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendSMS</servlet-name>
        <servlet-class>efm.SendSMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mid_val</servlet-name>
        <servlet-class>efm.mid_val</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>e503fetchSupportingDocuments</servlet-name>
        <servlet-class>efm.e503fetchSupportingDocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pay_table</servlet-name>
        <servlet-class>efm.pay_table</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myAccLogin</servlet-name>
        <servlet-class>efm.myAccLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordEncryptor</servlet-name>
        <servlet-class>efm.PasswordEncryptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataAccessLayer</servlet-name>
        <servlet-class>efm.DataAccessLayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>e503formsubmission</servlet-name>
        <servlet-class>efm.e503formsubmission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFView</servlet-name>
        <servlet-class>em.SFView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PWTView</servlet-name>
        <servlet-class>em.PWTView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBView</servlet-name>
        <servlet-class>em.SBView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentViewE503</servlet-name>
        <servlet-class>em.PaymentViewE503</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberView</servlet-name>
        <servlet-class>em.MemberView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminView</servlet-name>
        <servlet-class>em.AdminView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CROView</servlet-name>
        <servlet-class>em.CROView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchanView</servlet-name>
        <servlet-class>em.MerchanView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinancePaymentView</servlet-name>
        <servlet-class>em.FinancePaymentView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPaymentRequest</servlet-name>
        <servlet-class>em.ProcessPaymentRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataAccessLayer_payment</servlet-name>
        <servlet-class>em.DataAccessLayer_payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessE503sanRenewalRequest</servlet-name>
        <servlet-class>em.ProcessE503sanRenewalRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMembershipData</servlet-name>
        <servlet-class>efm.GetMembershipData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>event_edit</servlet-name>
        <servlet-class>efm.event_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessE503RenewalRequest</servlet-name>
        <servlet-class>em.ProcessE503RenewalRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessE503ReinstlRequest</servlet-name>
        <servlet-class>em.ProcessE503ReinstlRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCampRequest</servlet-name>
        <servlet-class>efm.ProcessCampRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrinteApplication</servlet-name>
        <servlet-class>em.PrinteApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintewpApplication</servlet-name>
        <servlet-class>em.PrintewpApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintewpaApplication</servlet-name>
        <servlet-class>em.PrintewpaApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadStateAssociationRegion</servlet-name>
        <servlet-class>efm.LoadStateAssociationRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSASCWArecords</servlet-name>
        <servlet-class>efm.ProcessSASCWArecords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CampDashboard2023</servlet-name>
        <servlet-class>em.CampDashboard2023</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CampDashboard2022</servlet-name>
        <servlet-class>em.CampDashboard2022</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampDashboard</servlet-name>
        <url-pattern>/CampDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SD_Demands_List</servlet-name>
        <url-pattern>/SD_Demands_List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>events_DataAccessLayer</servlet-name>
        <url-pattern>/events_DataAccessLayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSMS</servlet-name>
        <url-pattern>/SendSMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mid_val</servlet-name>
        <url-pattern>/mid_val</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>e503fetchSupportingDocuments</servlet-name>
        <url-pattern>/e503fetchSupportingDocuments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pay_table</servlet-name>
        <url-pattern>/pay_table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myAccLogin</servlet-name>
        <url-pattern>/myAccLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordEncryptor</servlet-name>
        <url-pattern>/PasswordEncryptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataAccessLayer</servlet-name>
        <url-pattern>/DataAccessLayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>e503formsubmission</servlet-name>
        <url-pattern>/e503formsubmission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFView</servlet-name>
        <url-pattern>/SFView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PWTView</servlet-name>
        <url-pattern>/PWTView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SBView</servlet-name>
        <url-pattern>/SBView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentViewE503</servlet-name>
        <url-pattern>/PaymentViewE503</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberView</servlet-name>
        <url-pattern>/MemberView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminView</servlet-name>
        <url-pattern>/AdminView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CROView</servlet-name>
        <url-pattern>/CROView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchanView</servlet-name>
        <url-pattern>/MerchanView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancePaymentView</servlet-name>
        <url-pattern>/FinancePaymentView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPaymentRequest</servlet-name>
        <url-pattern>/ProcessPaymentRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataAccessLayer_payment</servlet-name>
        <url-pattern>/DataAccessLayer_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessE503sanRenewalRequest</servlet-name>
        <url-pattern>/ProcessE503sanRenewalRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMembershipData</servlet-name>
        <url-pattern>/GetMembershipData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>event_edit</servlet-name>
        <url-pattern>/event_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessE503RenewalRequest</servlet-name>
        <url-pattern>/ProcessE503RenewalRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessE503ReinstlRequest</servlet-name>
        <url-pattern>/ProcessE503ReinstlRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCampRequest</servlet-name>
        <url-pattern>/ProcessCampRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrinteApplication</servlet-name>
        <url-pattern>/PrinteApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintewpApplication</servlet-name>
        <url-pattern>/PrintewpApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintewpaApplication</servlet-name>
        <url-pattern>/PrintewpaApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStateAssociationRegion</servlet-name>
        <url-pattern>/LoadStateAssociationRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSASCWArecords</servlet-name>
        <url-pattern>/ProcessSASCWArecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CampDashboard2023</servlet-name>
        <url-pattern>/CampDashboard2023</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CampDashboard2022</servlet-name>
        <url-pattern>/CampDashboard2022</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Not-found.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Not-found.html</location>
    </error-page>
    <resource-ref>
        <description>UCP datasource to connect to DB</description>
        <res-ref-name>tomcat/UCPPool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
