/* 
    Document   : OneColumnTStyle
    Created on : Apr 20, 2012, 4:09:08 PM
    Author     : Ms. Rose Rani John
    Description:
        Table Styles for pages using One column template
*/

body
{
    line-height: 1.6em;
}
/* Begin Login  */
#Login
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 80px;
    width: 380px;
    text-align: left;
    border-collapse: collapse;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    -moz-box-shadow: 0px 0px 10px #69c;
    -webkit-box-shadow: 0px 0px 10px #69c;
}

#Login th
{
    padding: 12px 17px 12px 17px;
    font-weight: normal;
    font-size: 14px;
    color: black;
    background: #80A6D9;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
}
#Login td
{
    padding: 7px 17px 7px 17px;
    color: #66A1D2;
}
#Login h2{
    border-bottom:1px solid #66A1D2;
}
#Login input[type="text"],input[type="password"],input[type="number"]
{
    width: 250px;
    background-color: ghostwhite;
    border-color:#69c;
    display: inline;
    border:1px solid #69c;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;

}
#Login input[type="submit"],input[type="button"]
{
    width: 120px;
    background-color: ghostwhite;
    display: inline;
    border:1px solid #69c;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
    color: #66A1D2;
}
/* table rose design */
#multicolor-orange 
{
    font-family: 'Times New Roman';
    font-size: 14px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    width: auto;
    min-width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#multicolor-orange th
{

    font-size: 16px;
    background-color: #A64100;
    font-weight: bold;
    color: black;
    padding: 5px 5px;
    border: 2px solid #FFF;
    font-family: 'Times New Roman';
}

#multicolor-orange td[class="one"]
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 1px 1px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #FFF;
    font-size: 14px;
    background-color: #FF8B40;


}
#multicolor-orange td[class="two"]
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 1px 1px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #FFF;
    font-size: 14px;
    background-color: #FFF;

}
#multicolor-orange input[type="text"],input[type="password"],input[type="number"]
{
    width: 200px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A64100;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 25px;
    font-size: 14px;

}
#multicolor-orange select,textarea
{
    width: 200px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A64100;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 14px;

}
#multicolor-orange input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A64100;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 13px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}

#multicolor-green
{
    font-family: 'Times New Roman';
    font-size: 14px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    width: auto;
    min-width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;
}
#multicolor-green th
{

    font-size: 16px;
    background-color: #679B00;
    font-weight: bold;
    color: black;
    padding: 5px 5px;/*10px 8px;*/
    border: 2px solid #FFF;
    font-family: 'Times New Roman';
}

#multicolor-green td[class="one"]
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 6px 8px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #FFF;
    font-size: 14px;
    background-color: #C9F76F;


}
#multicolor-green td[class="two"]
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 6px 8px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #FFF;
    font-size: 14px;
    background-color: #FFF;

}
#multicolor-green input[type="text"],input[type="password"],input[type="number"]
{
    width: 200px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #679B00;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 25px;
    font-size: 14px;

}
#multicolor-green select,textarea
{
    width: 200px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #679B00;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 14px;

}
#multicolor-green input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #679B00;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 13px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}

#multicolor-blue
{
    font-family: 'Times New Roman';
    font-size: 14px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    width: auto;
    min-width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#multicolor-blue th
{

    font-size: 16px;
    background-color: #024B66;/*#052A6E;*/
    font-weight: bold;
    color: #FFF;
    padding: 10px 8px;
    border: 2px solid #FFF;
    font-family: 'Times New Roman';
}

#multicolor-blue td[class="one"]
{

    color: #FFF;/*#669;*/
    font-weight:normal;
    padding: 6px 8px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #FFF;
    font-size: 14px;
    background-color: #0776A0;/*#1047A9;*/
    border: 2px solid #FFF;


}
#multicolor-blue td[class="two"]
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 6px 8px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #FFF;
    font-size: 14px;
    background-color: #FFF;
    border: 2px solid #FFF;

}
#multicolor-blue input[type="text"]
{
    width: 200px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 25px;
    font-size: 14px;

}
#multicolor-blue input[type="password"],input[type="number"]
{
    width: 200px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 25px;
    font-size: 14px;

}
#multicolor-blue select[id="drps"]
{
    width: 345px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 25px;
    font-size: 14px;

}
#multicolor-blue select,textarea
{
    width: 200px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 14px;

}
#multicolor-blue input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 13px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}

/* for attendance page */
#multicolor-lightblue-att-p
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    width: 96%;
    min-width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#multicolor-lightblue-att-p th
{

    font-size: 16px;
    background-color: #66A1D2;/*#052A6E;*/
    font-weight: bold;
    color: #FFF;
    padding: 5px 5px;
    border: 2px solid #66A1D2;
    font-family: 'Times New Roman';
}
#multicolor-lightblue-att-h
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #FFF;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    width: 96%;
    min-width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#multicolor-lightblue-att-h th
{

    font-size: 16px;
    background-color: #A9D0F5;/*#052A6E;*/
    font-weight: bold;
    color: black;
    padding: 5px 5px;
    border: 2px solid #66A1D2;
    font-family: 'Times New Roman';
}
#multicolor-lightblue-att-h td
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 1px 1px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 2px solid #FFF;/*#66A1D2;*/
    font-size: 12px;
    background-color: #FFF;

}
#multicolor-lightblue-att
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    width: 96%;
    min-width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;
}

#multicolor-lightblue-att th
{

    font-size: 13px;
    background-color: #66A1D2;/*#052A6E;*/
    font-weight: bold;
    color: #FFF;
    padding: 5px 5px;
    border: 2px solid #66A1D2;
    font-family: 'Times New Roman';
}
#multicolor-lightblue-att a{
    text-decoration: none;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight: normal;
    color: #667667;  
}
#multicolor-lightblue-att td[class="one"]
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight: normal;
    color: #667667;        
    background-color:#dde8f1;
    border: 2px solid #FFF;/*#66A1D2;*/    
}
#multicolor-lightblue-att td[class="two"]
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight: normal;
    color: #667667;        
    background-color:#f2f7fd;
    border: 2px solid #FFF;/*#66A1D2;*/    
}
#multicolor-lightblue-att td[class="head"]
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight: bold;
    color: #667667;        
    background-color:#A9D0F5;
    border: 2px solid #FFF;/*#66A1D2;*/      
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    padding: 1px 1px;
}
#multicolor-lightblue-att  tr:hover td[class="one"]
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color: blue;
    font-size:10px;
    font-weight: bold;
    background-color: #FFF;
    white-space: -moz-pre-wrap;        
    word-wrap: break-word;
    padding: 1px 1px;

    text-decoration: none;
}
#multicolor-lightblue-att  tr:hover td[class="two"]
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color: blue;
    font-size:10px;
    font-weight: bold;
    background-color: #FFF;
    white-space: -moz-pre-wrap;        
    word-wrap: break-word;
    padding: 1px 1px;

    text-decoration: none;
}
#multicolor-lightblue-att input[type="text"],input[type="password"],input[type="number"]
{
    width: 200px;

    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 25px;
    font-size: 12px;

}
#multicolor-lightblue-att textarea
{
    width: 260px;

    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:5px 5px;
    font-family: 'Times New Roman';
    height: 25px;
    font-size: 12px;

}
#multicolor-lightblue-att textarea[class="addr"]
{
    width: 300px;

    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:5px 5px;
    font-family: 'Times New Roman';
    height: 60px;
    font-size: 12px;

}
#multicolor-lightblue-att input[class="strength"]
{
    width: 60px;
    background-color: #FFF;
    border-color:#A9D0F5;
    display: inline;
    font-weight: bold;
    border:0px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 18px;
    text-align: center;
    font-size: 12px;

}
#multicolor-lightblue-att select
{
    width: 100px;
    background-color: #FFF;
    border-color:#A9D0F5;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 23px;
    font-size: 12px;

}
#multicolor-lightblue-att select[class="long"]
{
    width: 200px;
    background-color: #FFF;
    border-color:#A9D0F5;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 23px;
    font-size: 12px;

}
#multicolor-lightblue-att select[class="t1"]
{
    width: 50px;
    background-color: #FFF;
    border-color:#A9D0F5;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 23px;
    font-size: 12px;

}
#multicolor-lightblue-att input[type="submit"],input[type="button"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 12px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}
#multicolor-lightblue-att input[type="reset"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 12px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}

/* end for attendance */

#multicolor-lightblue1
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    width: 85%;
    min-width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#multicolor-lightblue1 tr{

}
#multicolor-lightblue
{
    font-family:'Arial';/*Arial, Helvetica, sans-serif;*/
    font-size: 12px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    width: auto;
    min-width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#multicolor-lightblue th
{

    font-size: 16px;
    background-color: #66A1D2;/*#052A6E;*/
    font-weight: bold;
    color: #FFF;
    padding: 5px 5px;
    border: 2px solid #66A1D2;
    font-family: 'Times New Roman';
}

#multicolor-lightblue td[class="one"]
{

    color: black;/*#669;*/
    font-weight:bold;
    padding: 1px 1px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 2px solid #FFF;/*#66A1D2;*/
    font-size: 12px;
    background-color: #E7EEF5;


}
#multicolor-lightblue td[class="two"]
{

    color: black;/*#669;*/
    font-weight:bold;
    padding: 1px 1px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 2px solid #FFF;/*#66A1D2;*/
    font-size: 12px;
    background-color: #FFF;

}
#multicolor-lightblue td[class="head"]
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight: bold;
    color: #667667;        
    background-color:#A9D0F5;
    border: 2px solid #FFF;/*#66A1D2;*/      
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    padding: 1px 1px;
}
#multicolor-lightblue input[type="text"],input[type="password"],input[type="number"],input[type="email"]
{
    width: 225px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 30px;
    font-size: 11px;

}
#multicolor-lightblue textarea
{
    width: 225px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 90px;
    font-size: 11px;

}
#multicolor-lightblue input[class="strength"]
{
    width: 60px;
    background-color: #FFF;
    border-color:#A9D0F5;
    display: inline;
    font-weight: bold;
    border:0px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 18px;
    text-align: center;
    font-size: 12px;

}
#multicolor-lightblue select
{
    width: 225px;
    background-color: #FFF;
    border-color:#A9D0F5;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 30px;
    font-size: 11px;

}
#multicolor-lightblue select[class="t"]
{
    width: 50px;
    background-color: #FFF;
    border-color:#A9D0F5;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 23px;
    font-size: 12px;

}
#multicolor-lightblue input[type="submit"],input[type="button"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 12px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}
#multicolor-lightblue input[type="reset"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 12px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}

/* Light Blue Long Version */

#multicolor-lightblue-long
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    width: 90%;
    min-width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#multicolor-lightblue-long th
{

    font-size: 14px;
    background-color: #66A1D2;/*#052A6E;*/
    font-weight: bold;
    color: #FFF;
    padding: 1px 1px;
    border: 2px solid #66A1D2;
    font-family: 'Times New Roman';
}

#multicolor-lightblue-long td[class="one"]
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 1px 1px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #FFF;/*#66A1D2;*/
    font-size: 11px;
    background-color: #E7EEF5;
    height: 5px;


}
#multicolor-lightblue-long td[class="two"]
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 1px 1px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #FFF;/*#66A1D2;*/
    font-size: 11px;
    background-color: #FFF;
    height: 5px;
}
#multicolor-lightblue-long input[type="text"],input[type="password"],input[type="number"],input[type="email"]
{
    width: 200px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 25px;
    font-size: 11px;

}
#multicolor-lightblue-long textarea
{
    width: 200px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 30px;
    font-size: 11px;

}
#multicolor-lightblue-long input[class="strength"]
{
    width: 60px;
    background-color: #FFF;
    border-color:#A9D0F5;
    display: inline;
    font-weight: bold;
    border:0px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 18px;
    text-align: center;
    font-size: 12px;

}
#multicolor-lightblue-long select
{
    width: 200px;
    background-color: #FFF;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #024B66;
    margin:2px 3px;
    font-family: 'Times New Roman';
    height: 23px;
    font-size: 11px;

}
#multicolor-lightblue-long input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #024B66;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 12px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}

/*  */
#bca_login
{
    font-family: 'Times New Roman';
    font-size: 14px;
    background: #fff;
    margin-top: 125px;
    margin-left: 315px;
    margin-right: 120px;
    vertical-align: central;
    width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#bca_login th
{

    font-size: 16px;
    background-color: #A9D0F5;
    font-weight: bold;
    color: black;
    padding: 10px 8px;
    border: 2px solid #A9D0F5;
    font-family: 'Times New Roman';
}

#bca_login td
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 6px 8px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #A9D0F5;
    font-size: 14px;

}
#bca_login td a{
    text-decoration: none;
    color: black;
    font-style: normal;
}
#bca_login tbody tr:hover td
{
    color: #009;
}
#bca_login input[type="text"],input[type="password"],input[type="number"],select,textarea
{
    width: 300px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 14px;

}


#bca_login input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 175px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 13px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}

/* End Login */
/* HLA Forms - Begin */
#hla_forms
{
    font-family: 'Times New Roman';
    font-size: 14px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    vertical-align: central;
    width: 500px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#hla_forms th
{

    font-size: 16px;
    background-color: #A9D0F5;
    font-weight: bold;
    color: black;
    padding: 10px 8px;
    border: 2px solid #A9D0F5;
    font-family: 'Times New Roman';
}

#hla_forms td
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 6px 8px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #A9D0F5;
    font-size: 14px;

}
#hla_forms td a{
    text-decoration: none;
    color: black;
    font-style: normal;
}
#hla_forms tbody tr:hover td
{
    color: #009;
}
#hla_forms input[type="text"],input[type="password"],input[type="number"],select,textarea
{
    width: 300px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 14px;

}


#hla_forms input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 175px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: 'Times New Roman';
    height: 28px;
    font-size: 13px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}
/* HLA Forms - End */


#hor-minimalist-b-outer
{
    font-family: Arial;
    font-size: 12px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;
}
#hor-minimalist-b-outer th
{
    font-size: 16px;
    background-color: #A9D0F5;
    font-weight:bold;
    color: #009;
    padding: 5px 5px;
    border: 2px solid #A9D0F5;
    font-family: 'Times New Roman';
    width: auto;
}

#hor-minimalist-b-outer td
{
    background-color: #E7EEF5;
    color: #009;
    font-weight:normal;
    padding: 1px 1px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #A9D0F5;
    font-size: 12px;
    width: auto;

}
#hor-minimalist-b-outer td a{
    text-decoration: none;
    color: black;
    font-style: normal;
}

#hor-minimalist-b-outer input[type="text"],input[type="password"],input[type="number"]
{
    width: 350px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 30px;
    font-size: 14px;
    font-family: 'Times New Roman';

}
#hor-minimalist-b-outer textarea
{
    width: 350px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    color: #009;
    height: 200px;
    font-size: 14px;
    font-family: 'Times New Roman';

}
#hor-minimalist-b-outer input[type="email"]
{
    width: 350px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    height: 30px;
    color:#CC0000;
    font-size: 14px;
    font-family: 'Times New Roman';

}
#hor-minimalist-b-outer  select
{
    width: 350px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 40px;
    font-size: 14px;
    font-family: 'Times New Roman';

}

#hor-minimalist-b-outer input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 175px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;
    font-family: 'Times New Roman';
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}

/*  For Application Form */
#Appln
{
    font-family: 'Times New Roman';
    font-size: 14px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;/*1130px;*/
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#Appln th
{
    font-size: 14px;
    background-image:url(../images/blue/top_bg.jpg);
    background-color: #A9D0F5;
    font-weight:bold;
    color: black;
    padding: 6px 6px;
    border: 1px solid #A9D0F5;
    font-family: 'Times New Roman';
    width: auto;
}

#Appln td
{
    font-family: Arial;
    color: #009;/*#669;*/
    font-weight:normal;
    padding: 7px 7px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #A9D0F5;
    font-size: 12px;
    width: auto;

}
#Appln td a{
    text-decoration: none;
    color: black;
    font-style: normal;
}
#Appln tbody tr:hover td
{
    color: #009;
}
#Appln input[type="text"],input[type="password"],input[type="number"],textarea
{
    width: 150px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 25px;
    font-size: 14px;
    font-family: 'Times New Roman';

}
#Appln input[id="dp1"]
{
    width: 150px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 25px;
    font-size: 14px;
    font-family: 'Times New Roman';

}
#Appln input[id="dp2"]
{
    width: 150px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 25px;
    font-size: 14px;
    font-family: 'Times New Roman';

}
#Appln  select
{
    width: 50px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 25px;
    font-size: 14px;
    font-family: 'Times New Roman';

}

#Appln input[type="submit"],input[type="button"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 25px;
    font-size: 13px;
    font-family: 'Times New Roman';
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}
#Appln input[type="reset"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 25px;
    font-size: 13px;
    font-family: 'Times New Roman';
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}
/* For HLA Student Home Counts  */
#Std_Home
{
    font-family: 'Times New Roman';
    font-size: 14px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;/*1130px;*/
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#Std_Home th
{
    font-size: 14px;
    background-color: #3b5998;/*#F3D8BD;*/
    font-weight:bold;
    color: #dfe3ee;/*#613D2D;*/
    padding: 6px 6px;
    border: 2px solid #FFF;
    font-family: 'Times New Roman';
    width: auto;
}
#Std_Home th a{
    text-decoration: none;
    color: #153450;
    font-style: normal;
}
#Std_Home td
{
    font-family: Arial;
    background-color: #dfe3ee;
    color: #3b5998;/*#009;/*#669;*/
    font-weight:bold;
    padding: 7px 7px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 2px solid #FFF;
    font-size: 12px;
    width: auto;

}
#Std_Home td a{
    text-decoration: none;
    color: #3b5998;/*#153450;*/
    font-style: normal;
}
#Std_Home tbody tr:hover td
{
    color: #009;
}

/* End  HLA Student Home  */
/*       For Getting Inputs  */
#table-input
{
    font-family: 'Times New Roman';
    font-size: 14px;
    background:  #A9D0F5;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;/*1130px;*/
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    -moz-box-shadow: 0px 0px 10px #A9D0F5;
    -webkit-box-shadow: 0px 0px 10px #A9D0F5;

}
#table-input th
{
    font-size: 16px;
    background-color: #A9D0F5;
    font-weight:bold;
    color: black;
    padding: 15px 12px;
    border: 0px;
    font-family: 'Times New Roman';
    width: auto;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    -moz-box-shadow: 0px 0px 10px #A9D0F5;
    -webkit-box-shadow: 0px 0px 10px #A9D0F5;
}

#table-input td
{

    color: black;/*#669;*/
    background-color: lightgray;
    font-weight:normal;
    padding: 6px 8px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #A9D0F5;
    font-size: 14px;
    width: auto;

}

#table-input tbody tr:hover td
{
    color: #009;
}
#table-input input[type="text"],input[type="password"],input[type="number"],textarea
{
    width: 350px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 40px;
    font-size: 14px;
    font-family: 'Times New Roman';

}
#table-input  select
{
    width: 350px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 40px;
    font-size: 14px;
    font-family: 'Times New Roman';

}

#table-input input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 175px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;
    font-family: 'Times New Roman';
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}


/*     End Getting Input */



/* For Paging */

#hor-minimalist-b-outer-p
{
    font-family: 'Times New Roman';
    font-size: 14px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#hor-minimalist-b-outer-p th
{
    font-size: 16px;
    background-color: #A9D0F5;
    font-weight:bold;
    color: black;
    padding: 10px 8px;
    border: 2px solid #A9D0F5;
    font-family: 'Times New Roman';
}

#hor-minimalist-b-outer-p td
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 6px 8px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #A9D0F5;
    font-size: 11px;

}
#hor-minimalist-b-outer-p td a{
    text-decoration: none;
    color: black;
    font-style: normal;
}
#hor-minimalist-b-outer-p tbody tr:hover td
{
    color: #009;
}
#hor-minimalist-b-outer-p input[type="text"],input[type="password"],input[type="number"],textarea
{
    width: 350px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 40px;
    font-size: 14px;
    font-family: 'Times New Roman';

}
#hor-minimalist-b-outer-p  select
{
    width: 350px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 40px;
    font-size: 14px;
    font-family: 'Times New Roman';

}

#hor-minimalist-b-outer-p input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 175px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;
    font-family: 'Times New Roman';
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}
/* For Paging links */

#hor-minimalist-b-outer-pl
{
    font-family: 'Times New Roman';
    font-size: 14px;
    background: #fff;
    margin-top: auto;
    margin-left: auto;
    margin-right:auto;
    width:100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#hor-minimalist-b-outer-pl th
{
    font-size: 16px;
    background-color: #A9D0F5;
    font-weight:bold;
    color: black;
    padding: 10px 8px;
    border: 2px solid #A9D0F5;
    font-family: 'Times New Roman';
}

#hor-minimalist-b-outer-pl td
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 6px 8px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #A9D0F5;
    font-size: 14px;

}
#hor-minimalist-b-outer-pl td a{
    text-decoration: none;
    color: black;
    font-style: normal;
}
#hor-minimalist-b-outer-pl tbody tr:hover td
{
    color: #009;
}


/* For Frame */

#hor-minimalist-b-outer-f
{
    font-family: 'Times New Roman';
    font-size: 12px;
    background: #fff;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
    width:100%;/*1020px;*/
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;


}
#hor-minimalist-b-outer-f th
{
    font-size: 14px;
    background-color: #A9D0F5;
    font-weight: bold;
    color: black;
    padding: 10px 8px;
    border: 2px solid #A9D0F5;
    font-family: Geneva,Arial,Helvetica,sans-serif;
}

#hor-minimalist-b-outer-f td
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 5px 6px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #A9D0F5;
    font-size: 14px;

}
#hor-minimalist-b-outer-f td a{
    text-decoration: none;
    color: black;
    font-style: normal;
}
#hor-minimalist-b-outer-f tbody tr:hover td
{
    color: #009;
}
#hor-minimalist-b-outer-f input[type="text"],input[type="password"],input[type="number"],textarea
{
    width: 350px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 40px;
    font-size: 14px;

}
#hor-minimalist-b-outer-f select
{
    width: 350px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 40px;
    font-size: 14px;

}
#hor-minimalist-b-outer-f input[id="f1"],select[id="f1"]
{
    width: 145px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;

    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;

}

#hor-minimalist-b-outer-f input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 175px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}

#bc
{
    font-family: Arial;/*'Times New Roman',Times,serif;*/
    font-size: 14px;
    background: #fff;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
    width:100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#bc th
{
    font-size: 16px;
    background-color: #FFF;
    font-weight: bold;
    color: black;
    padding: 1px 1px;
    font-family: 'Times New Roman';
}

#hor-minimalist-b-outer-h
{
    font-family: Arial;/*'Times New Roman',Times,serif;*/
    font-size: 14px;
    background: #fff;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
    width:100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#hor-minimalist-b-outer-h th
{
    font-size: 16px;
    background-color: #FFF;
    font-weight: bold;
    color: black;
    padding: 1px 1px;
    font-family: 'Times New Roman';
}
#hor-minimalist-b-outer-h td
{
    font-size: 14px;
    background-color: #FFF;
    font-weight: bold;
    color: black;
    padding: 0px 0px;
    font-family: 'Times New Roman';
}
#hor-minimalist-b-outer-h  select
{
    width: 200px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 40px;
    font-size: 14px;
    font-family: 'Times New Roman';

}

#hor-minimalist-b-outer-h input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 125px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 23px;
    font-size: 13px;
    font-family: 'Times New Roman';
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}

#hor-minimalist-b-outer-h a {
    color: #c75f3e;
    text-decoration: none;
}

#hor-minimalist-b-outer-fr
{
    font-family: Arial;/*'Times New Roman',Times,serif;*/
    font-size: 14px;
    background: #fff;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
    width:100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#hor-minimalist-b-outer-fr th
{
    font-size: 16px;
    background-color: #A9D0F5;
    font-weight: bold;
    color: black;
    padding: 8px 8px;
    border: 2px solid #A9D0F5;
    font-family: 'Times New Roman';
}

#hor-minimalist-b-outer-fr td
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 5px 5px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    border: 1px solid #A9D0F5;
    font-size: 11px;

}
#hor-minimalist-b-outer-fr td a{
    text-decoration: none;
    color: black;
    font-style: normal;
}
#hor-minimalist-b-outer-fr tbody tr:hover td
{
    color: #009;
}
#hor-minimalist-b-outer-fr input[type="text"],input[type="password"],input[type="number"],textarea
{
    width: 300px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 40px;
    font-size: 14px;

}
#hor-minimalist-b-outer-fr select
{
    width: 300px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 40px;
    font-size: 14px;

}
#hor-minimalist-b-outer-fr input[id="f1"],select[id="f1"]
{
    width: 145px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;

    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;

}

#hor-minimalist-b-outer-fr input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 175px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}
/* End For Paging */

#hor-minimalist-b-inner
{
    font-family: 'Times New Roman',Times,serif;
    font-size: 14px;
    background: #fff;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    width: 1090px;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;

}
#hor-minimalist-b-inner th
{
    font-size: 16px;
    background-color: #A9D0F5;
    font-weight: bold;
    color: black;
    padding: 10px 8px;
    /*border: 2px solid #2F0B3A;*/
    font-family: Geneva,Arial,Helvetica,sans-serif;
}

#hor-minimalist-b-inner td
{

    color: black;/*#669;*/
    font-weight:normal;
    padding: 6px 8px;
    white-space: -moz-pre-wrap; 
    word-wrap: break-word;
    font-size: 14px;
    /* border: 1px solid #2F0B3A;*/

}
#hor-minimalist-b-inner td a{
    text-decoration: none;
    color: black;
    font-style: normal;
}
#hor-minimalist-b-inner tbody tr:hover td
{
    color: #009;
}
#hor-minimalist-b-inner input[type="text"],input[type="password"],input[type="number"],select,textarea
{
    width: 300px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;
    font-weight: normal;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 14px;

}
#hor-minimalist-b-inner input[id="f1"],select[id="f1"]
{
    width: 145px;
    background-color: ghostwhite;
    border-color:#A9D0F5;
    display: inline;

    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;

}

#hor-minimalist-b-inner input[type="submit"],input[type="button"],input[type="reset"]
{
    width: 175px;
    background-color: ghostwhite;
    display: inline;
    font-weight: bold;
    border:1px solid #A9D0F5;
    margin:2px 5px;
    font-family: arial;
    height: 28px;
    font-size: 13px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    align: center;
}


